main{
	min-height: 100vh;
}
.cart{
	img{
		width: 30px;
	}
}
.card {
	max-height: 450px;
	position: relative;
	.card-description {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 10;
		background: #f8fafc;
		top: 0;
		left: 0;
		border: 1px solid lightgray;
		border-radius: 4px;
		padding: 5px;
		text-align: justify;
		display: none;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
	}

	.card-image {
		display: flex;
		justify-content: center;
		max-width: 100%;
		background: #fff;
		padding: 10px;
		margin-bottom: 10px;
		max-height: 220px;

		img {
			max-width: 100%;
			object-fit: contain;
		}
	}
}
.status-in-cart{
	color: #fff;
	background: green;
}
.cart-image{
	width: 150px;
	img {
		max-width: 100%;
		object-fit: cover;
	}
}

.product-photo {
	max-width: 200px;
}
